{% extends "Base.html" %}

{% block content %}
<div class="text-center">
    <a href="{{ url_for('Index') }}" class="btn btn-danger btn-lg ">Back To HomePage</a>

</div>

        <br>
        <br>
<h1 class='text-success text-center'>
    Showing Some of the Scraped Images
</h1>


{% if Num!=0 %}
<div class="card-columns">
    {% for result in results %}
    <div class="card">
        <img class="card-img" src="{{ url_for('static',filename=result) }}" alt="{{ result }}" width="300" height="300">
    </div>
    {% endfor %}
  </div>
                
       
{% else %}
<h3 class="text-danger">
    No Results Sorry!
</h3>

{% endif %}

{% endblock %}

